@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;700&family=Jost&display&display=swap');

:root {
  --font-play: 'Play', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-jost: 'Jost', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --color-white: #fff;
  --color-white-gray: #f6f6f6;
  --color-light-gray:  #eee;
  --color-gray: #e3e3e3;
  --color-dark-gray: #aaa;
  --color-instock: #64cb83;
  --color-outofstock: #fe4545;
  --color-theme: #20d3c2;
  --color-dark-theme: #0e153d;
}

.bg-theme {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.bg-dark-theme {
  background-color: var(--color-dark-theme);
  color: var(--color-white);
}

body {
  font-family: var(--font-roboto);
}

/* TOP-MENU: */

.top-menu .container {
  height: 40px;
}

.top-menu .site-settings {
  border-right: 2px solid var(--color-white);
  height: 100%;
}

.top-menu .site-settings select {
  margin-right: 10px;
  border: none;
  background: var(--color-theme);
  color: var(--color-white);
  cursor: pointer;
} 

.top-menu .site-settings select:hover {
  color: var(--color-dark-theme);
} 

.top-menu .links a {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-white);
  padding: 14px 10px;

}

  .top-menu .links a:hover {
    color: var(--color-dark-theme);
  }

    .top-menu .links .links-top a {
      border-right: 2px solid var(--color-white);
    }

.top-menu .links .socialmedia { 
  margin-left: 30px;
}

  .top-menu .links .socialmedia > a {
     padding: 5px 12px;
   }

/* MID-MENU: */

.mid-menu .container .company-logo h1 {
  font-size: 32px;
  font-family: var(--font-jost);
  margin: 0;
}

  .mid-menu .container .company-logo h1 img {
    margin-bottom: 5px;
  }

.mid-menu .container .search-bar {
  max-width: 540px;
  height: 47px;
}

  .mid-menu .container .search-bar input {
    border-radius: 23.5px 0 0 23.5px;
    border: 2px solid var(--color-gray);
    border-right: none;
    padding-left: 25px;
    width: 350px;
  }
  
  .mid-menu .container .search-bar .dropdown button {
      width: 150px;
      height: 47px;
      background-color: var(--color-white);
      border-radius: 0;
      color: var(--color-dark-theme);
      border: 2px solid var(--color-gray);
    }

    .mid-menu .container .search-bar .dropdown button:focus {
      box-shadow: none;
      border: 3px solid #000;
    }

    .mid-menu .container .search-bar .dropdown button i {
      color: var(--color-instock);
      font-weight: 700;
      margin-left: 20px;
    }

  .mid-menu .container .search-bar .magnifier {
    border-radius: 0 50% 50% 0;
    width: 47px;
    border: none;
  }

    .mid-menu .container .search-bar .magnifier .fa-magnifying-glass {
      font-size: 20px;
      top: 3px;
    }

    .mid-menu .container .search-bar .magnifier .fa-magnifying-glass:active {
      color: #fe4545;
    }

.mid-menu .container .shopping {
  height: 106px;
}

  .mid-menu .container .shopping a {
    margin: 0 10px 0 15px;
    padding: 0 4px 0 4px;
    color: var(--color-dark-theme);
    font-size: 22px;
    text-decoration: none;
  }

  .mid-menu .container .shopping a:hover {
    color: var(--color-outofstock);
  }

    .mid-menu .container .shopping a span {
      font-size: 16px;
      margin-left: 2px;
    }

  .mid-menu .container .shopping .shopping-bag {
    height: 22px;
  }

.shoppingamount {
  position: relative;
  top: -35px;
  right: -11px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--color-theme);
  color: var(--color-white);
  font-size: 11px;
  text-align: center;
  line-height: 18px;
}

.shopping .priceofgoods {
  font-size: 16px;
}

/* HERO-SECTION: */

.hero {
  height: 600px;
  background-color: #eee;
}

.heroImg {
  margin-bottom: 38px;
}

.herobanner p {
  width: 380px;
  margin-bottom: 44px;
  font-size: 16px;
}

.shopBtn {
  width: 155px;
  height: 55px;
  border-radius: 27.5px;
  border: none;
  background-color: var(--color-white);
  color: var(--color-theme);
  font-size: 18px;
}